body {
    margin:0;
    padding:0;
    max-width:100vw;
}

.qbutton {
    height:36px;
    width:180px;
    font:normal 22px monospace;
    border:none;
    border-radius:20px;
    outline:none;
    background:#f1f1f1; 
    box-shadow:0px 0px 4px 0px black;
    cursor:pointer;
    transition:background .4s;
    margin-top:13px;
    box-sizing:border-box;
}

a.qbutton {
    display:flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    text-decoration: none;
    color:black;
}

.qbutton:hover {
    background:#d4d4d4;
}

.qinputfield {
    height:36px;
    width:180px;
    font:normal 22px monospace;
    border:none;
    border-radius:20px;
    outline:none;
    background:#f1f1f1;
    box-shadow:0px 0px 4px 0px black;
    margin-top:13px;
    padding:0px 11px;
    box-sizing:border-box;
}


.qblock {
    border:none;
    border-radius:20px;
    box-shadow:0px 0px 4px 0px black;
    background:#f8f8f8;
    width:300px;
    height:300px;
    position:relative;
    max-width: 100%;
}


.qmenu {
    position: fixed;
    width:100%;
    height:45px;
    border:none;
    box-shadow:0px 0px 4px 0px black;
    background:#f8f8f8;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    display:flex;
    align-items: center;

    transition:border-bottom-right-radius .4s;
    z-index:5;
}

.qmenu ul {
    position:absolute;
    left:50%;
    transform:translate(-50%);
    display:flex;
    margin:0;
    padding:0;
    list-style-type: none;
    height:100%;
}

ul.compacted {
    transform:translate(105%);
    flex-direction: column;
    left:initial;
    right:0;
    top:45px;
    background:#f8f8f8;
    box-shadow:0px 0px 4px 0px black;
    padding:10px 15px;
    height:auto;
    border-bottom-left-radius: 20px;
}

@keyframes sidebar-open {
    from {
        transform:translate(105%);
    }
    to {
        transform:translate(0%);
    }
}

@keyframes sidebar-close {
    from {
        transform:translate(0%);
    }
    to {
        transform:translate(105%);
    }
}

ul.compacted li:not(:first-child) {
    margin-top:5px;
}

ul a {
    color:black;
    text-decoration: none;
}

.qmenu li {
    height:100%;
    font:normal 21px monospace;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:0px 13px;
    user-select:none;
    cursor:pointer;
}

.qmenu li:hover {
    text-decoration: underline;
}

.qtextlogo {
    position: absolute;
    left:5%;    
    font:bold 31px monospace;
    user-select: none;
    color:#1d1d1d;
}

.qmenubutton {
    position:absolute;
    right:4%;
    border:none;
    outline:none;
    cursor:pointer;
    width:33px;
    height:33px;
    background: url("https://image.flaticon.com/icons/png/512/56/56763.png");
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-position: center;
    visibility: hidden;
}

main {
    position:relative;
    top:45px;
    padding:15px 27px;
}


.qheader {
    font:bold 40px monospace;
    margin-top:15px;
    margin-bottom:10px;
}

.qtext {
    font:normal 21px monospace;
    margin: 0;
}

.paragraph {
    margin-top:15px;
    margin-bottom:20px;
    text-indent: 23px;
}

.qcontent {
    position:relative;
    left:50%;
    transform:translate(-50%);
    width:100%;
    max-width:1100px;
}

.qimage {
    margin-top:15px;
    margin-bottom:3px;
    box-shadow:0px 0px 5px 0px black;
    max-width:100%;
}

.qimagecollection {
    display:flex;
    margin-top:15px;
    margin-bottom:5px;
    align-items:center;
    flex-wrap:wrap;
    gap: 15px
}

.qimagecollection .qimage {
    margin:0;
}

.qimagecollection.center {
    justify-content: center;
}

.qundertext {
    font:italic 21px monospace;
    color:#3b3b3b;
    margin-bottom: 5px;
    margin-top:0px;
}

.qundertext.center {
    text-align:center;
}

.qlink {
    text-decoration: none;
    color:black;
}
.qlink:hover {
    text-decoration: underline;
}

@media(max-width:575px) {
    .qcontent {
        display:flex;
        flex-direction: column;
        align-items:center;
    }
    .qheader {
        margin-bottom: 0px;
    }
    .qundertext {
        text-align:center;
    }
    .qheader {
        text-align:center;
    }
    .tracks {
        justify-content: center;
    }
}

footer {
    width:100%;
    height:160px;
    background:#b1b1b1;
    margin-top:100px;
    display:flex;
    justify-content: center;
    align-items:center;
    box-shadow:0px 0px 6px 7px #b1b1b1;
}

footer img {
    user-select:none;
    pointer-events: none;
}

.qvideo {
    max-width: 100%;
}

.qaudio {
    display:block;
    width:450px;
    max-width: 100%;
    margin-top:10px;
    margin-bottom:5px;
    filter: drop-shadow(1px 1px 2px #929292) drop-shadow(-1px -1px 2px #929292);
    outline:none;
}



.trackholder {
    max-width: 100%;
    width:435px;
    overflow:hidden;
    display:flex;
    flex-direction: column;
    align-items:center;
    height:195px;
}

.trackholder h1 {
    font:bold 36px monospace;
    margin-bottom:0;
    margin-top:5px;
    text-align:center;
    color:#1b1b1b;
    cursor: normal;
    user-select: none;
}

.trackholder .qaudio {
    width:93%;
    margin-top:16px;
}

.buttonholder {
    width:100%;
    display:flex;
    justify-content: space-between;
    margin-top:7px;
    width:93%;
}

.buttonholder .qbutton {
    width:48.5%;
}

.to-clip::before {
    content:"";
    background:url("img/video.png");
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-right:3px;
}
.download::before {
    content:"";
    background:url("img/download.png");
    width:20px;
    height:20px;
    background-repeat:no-repeat;
    background-size:100% 100%;
    margin-right:-2px;
}

.tracks {
    margin-top:15px;
    display:flex;
    flex-wrap:wrap;
    gap:15px;
    max-width:100%;
}