resolution {
    position:absolute;
    display:none;
}

h1.header {
    font:bold 50px arial;
    margin-bottom:10px;
    margin-top:15px;
}

h1.mini-header {
    font:bold 35px arial;
}

p.article {
    font:normal 22px arial;
    line-height: 1.3em;
    max-width:60%;
    text-indent: 45px;
}

div.content {
    width:96%;
    margin-left:50%;
    transform:translate(-50%);
    background:white;
    padding:0 0.5%;
    box-sizing: border-box;
    margin-top:30px;
    box-shadow:0px 0px 15px 15px white;
    display:flex;
    flex-direction:column;
    opacity: 0%;
    animation: Content-Appear 0.5s both;
}

@keyframes Content-Appear {
    from {
        opactiy:0%;
    }
    to {
        opacity: 100%;
    }
}

img.image {
    user-select:none;
    pointer-events: none;
    border-radius:15px;
    min-width:235px;
    max-width:1000px;
}

div.download-list {
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    border:dotted 3px #424242;
    background:#dbdbdb;
    padding:6px 6px;
    width:500px;
    margin-top:20px;
    margin-bottom:10px;
}
div.download-list a {
    max-width:96%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font:bold 19px arial;
}
div.download-list a:not(:first-child) {
    margin-top:7px;
}
div.download-list a::before {
    background-image: url("img/download.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    display: inline-block;
    width: 17px; 
    height: 17px;
    content:"";
    margin-right:6px;
}

a.link {
    font:normal 22px arial;
    display:block;
}

span.img-tip {
    display:block;
    font:italic 19px arial;
    color:#272727;
    margin-top:3px;
    margin-left:6px;
}
 
@media(max-width:820px) {
    div.content {
        align-items:center;
        padding: 0 0;
    }
}

@media(max-width:1600px) and (min-width:1351px) {
    p.article {
        max-width:70%;
    }
}
@media(max-width:1350px) and (min-width:1101px) {
    p.article {
        max-width:80%;
    }
}
@media(max-width:1100px) and (min-width:901px) {
    p.article {
        max-width:90%;
    }
}
@media(max-width:900px) {
    p.article {
        max-width:94%;
    }
}