body {
    margin:0;
    height:100vh;
    background-color:#dcffb7;
}

input {
    outline:none;
    font:normal 21px arial;
    border:none;
    box-shadow:0px 0px 4px 0px black;
}
input[type="button"] {
    cursor:pointer;
}
div.menu {
    display:flex;
    align-items:center;
    justify-content:flex-start;
    width:98%;
    height:47px;
    box-shadow:0px 0px 6px 0px black;
    margin-left:50%;
    transform:translate(-50%);
    box-sizing:border-box;
    background:#c7fb8f;
    border:solid 3px #68ca00;
    border-top:none;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

div.menu span.logo {
    margin-left:13px;
    font:normal 31px arial;
    cursor:normal;
    user-select: none;
}
div.menu div.search {
    position:absolute;
    display:flex;
    align-items:center;
    right:13px;
}
div.search input[type="text"] {
    height:30px;
    padding:0px 10px;
    margin-right:13px;
    border-radius:15px;
    width:45vw;
    max-width:400px;
}
div.search input[type="button"] {
    background-image:url("img/search.png");
    background-size: 95%;
    background-position:center;
    background-repeat:no-repeat;
    background-color:#00000000;
    box-shadow:none;
    width:40px;
    height:40px;
    float:right;
}
div.item-holder {
    display:flex;
    width:98%;
    max-width:98%;
    margin-top:20px;
    margin-left:50%;
    transform:translate(-50%);
    gap:15px;
    flex-wrap:wrap;
    justify-content: center;
    opacity:0%;
    animation: Item-Holder-Appear 0.5s both;
}

@keyframes Item-Holder-Appear {
    from {
        opactiy:0%;
    }
    to {
        opacity: 100%;
    }
}

div.item {
    display:flex;
    flex-direction: column;
    align-items:center;
    box-shadow:0px 0px 4px 0px black;
    border:solid 3px #cecece;
    border-radius:25px;
    box-sizing:border-box;
    overflow: hidden;
    transition:border-color 0.4s;
    transition-delay: 0.1s;
    background:white;
    width:calc(23vw * 0.96);
    height:23vw;
    max-width: 313px;
    max-height:325px;
    min-width:250px;
    min-height:260px;
    /*width:250px;height:260px; 0.96*/
    cursor:pointer;
}
div.item:hover {
    border-color:#a8a8a8;
}

div.item a {
    text-align: center;
    font:normal 1.8vw arial;
    width:90%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#001170;
    transition:color .35s;
    margin-top:4.5%;
    text-decoration: none;
}
div.item a:hover {
    color:#0021df;
    text-decoration: underline;
}

div.item div.img-shadow {
    position:relative;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top:3.8%;
    height:77%;
    width:90%;
    border:none;
    /* 0.769 , 0.0384*/
}

div.item div.img-shadow::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 8px 6px white inset;
}
div.item img {
    width:99%;
    height:99%;
    object-fit:cover;
    user-select: none;
    pointer-events: none;
}

footer {
    height:75px;
}

div.search-filter {
    display:none;
    align-items:center;
    margin-top:0px;
    justify-content:center;
    margin-bottom:-20px;
}
div.search-filter p {
    font:normal 20px arial;
}
div.search-filter input[type="button"] {
    margin-left:15px;
}






body::-webkit-scrollbar {
    width:11px;
    background:#68ca0067;
}

body::-webkit-scrollbar-thumb {
    width:11px;
    background:#77e700;
    box-shadow:0px 0px 4px 3px #428000 inset;
    border-radius:10px;
}

/* Шрифт */
@media(min-width:1425px) {
    div.item a {
        font-size:25.65px;
    }
}
@media(max-width:1135px) and (min-width:791px) {
    div.item a {
        font-size:20.43px;
    }
}

/* Если телефон */
@media(max-width:575px) {
    div.menu {
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
        border-left:none;
        border-right:none;
        width:100%;
    }
    div.item {
        width:calc(85vw * 0.96);
        height:85vw;
        min-width:0px;
        min-height:0px;
        max-width:none;
        max-height:none;
    }
    div.item a {
        font-size:28px;
    }
    body::-webkit-scrollbar {
        display:none;
    }
}
/* Если слишком узкий телефон */
@media(max-width:320px) {
    * {
        display:none;
    }
}

/* Увеличение Item */
@media(max-width:790px) and (min-width:576px) {
    div.item {
        width:calc(45vw * 0.96);
        height:45vw;
        min-width:0px;
        min-height:0px;
    }
    div.item a {
        font-size:20px;
    }
}